@import "tailwindcss";

@tailwind utilities;

@layer utilities {
  .bg-banner {
    background-image: url('/banner-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@layer utilities {
  .bg-banner-1 {
    background-image: url('/banner-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
